{% load static %}
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Categorias</title>
	<link rel="stylesheet" href="{% static 'css/estilos1.css' %}">
</head>
<body>
<div class="container">
	<br>
	<form action="", method="GET">
	<table>
		<tr>
			<td colspan="2">
				<img src='/PictoApp/media/iconos/logo.png' style="width: 250px; height: 50px;">
			</td>
		</tr>
		<tr>
			<td colspan="2"><h1>Categorías:</h1></td>
		</tr>
		{% for i in Categoria %}
		<tr>
			<td><a href="{% url 'pictogramas' i.id %}"><img class="categoria" src='{{ i.cuadro.url }}' style="width: 150px; height: 150px"></a></td>
			<td><a href="{% url 'pictogramas' i.id %}"><h2>{{ i.nombre }}</h2></a></td>
		</tr>
		{% endfor %}
	</table>
	</form>
	<table>
		<tr>
			<td colspan="2"><a href="{% url 'home' %}"><button class="buttonHome" style="width: 250px;">Volver</button></a></td>
		</tr>
	</table>
	<br><br>
</div>
</body>
</html>